.caption {padding: 20px 10px !important;}
a:hover{text-decoration: none !important;}
.item .thumbnail img {max-width: 300px;max-height: 350px;padding-top:20px !important;}
.item .thumbnail h4 {height: 50px;}
.ca {position: relative;}
.counter{color: #fff!important;
  text-align: center;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-weight: 400!important;
  font-family: Roboto-Medium,sans-serif;
  position: absolute;
  right: -16px;
  top: 17px;
  width: 25px;
  height: 16px;
  line-height: 16px;
  font-size: 11px;
  padding: 0 3px;background: red;border-radius: 50px;}
  .cart 
 {
  position: absolute !Important;
  right: 34px;
  top: 0;
  }